// SASS VARIABLES //

// COLOURS //
$primaryColor: #3c99b0;
$secondaryColor: #ffdd12;
$darkColor: #232323;
$lightColor: #fff;
$lightBlueColor: #58b6c6;
$darkerBlueColor: #207e8e;
$greyColor: #f5f5f5;

// FONTS //
$primaryFont: 'Raleway', sans-serif;

// FONT WEIGHT //
$boldFontWeight: 500;
$lightFontWeight: 300;
$paragraphFontWeight: 400;

// FONT SIZE //
$paragraphFontSize: 18px;
$h1FontSize: 40px; //Mainly for section questions
$h2FontSize: 35px; //Mainly for modal headers
$h3FontSize: 30px; //Mainly for subheaders and buttons
$h4FontSize: 25px; //Mainly for modal sub-headers

// BORDER //
$borderBottom: solid 1px #d3d3d3;
$borderRadius: 10px;