@import "utilities/variables";
@import "utilities/mixins";

@media only screen and (min-width: 1000px) {
    .seat-buttons-wrapper,
    .day-buttons-wrapper{
        .btn{
            i:hover{
                color: $lightColor!important;
            }
        }
    }
    .vehicle-options-container{
        overflow: auto;
        .vehicle-options-wrapper{
            .vehicle-option:hover{
                background-color: $darkColor!important;
                cursor: pointer;
                ::-webkit-scrollbar {
                    width: 0px;  /* remove scrollbar space */
                    background: transparent;  /* optional: just make scrollbar invisible */
                }
                img{
                    display: none;
                }
                p{
                    display: block!important;
                    font-size: $h4FontSize;
                    font-weight: $boldFontWeight;
                    color: $secondaryColor;
                    margin: 0;
                }
            }
        }
    }
    
    .trip-buttons-wrapper{
        .trip-type-btn:focus{
            background-color: $darkColor;
            color: $secondaryColor;
        }
    }
}


@media only screen and (min-width: 1025px) {
    .vehicle-options-wrapper{
        justify-content: space-around;

    }
}

@media only screen and (max-width: 750px) {
    .phone_sizeWrapper{
        display: flex!important;
        width: 100vw;
        height: 100vh;
        background: $primaryColor;
        justify-content: center;
        align-items: flex-start;
        
        .phone_message{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2, p{
                width: 85%;
                margin: 10px auto;
            }
            h2{
                color: $secondaryColor;
                font-size: $h2FontSize;
                font-weight: $boldFontWeight;
            }
            p{
                color: white;
                margin-bottom: 100px;
            }
        }
        
    }

    #landingPage,
    #mainAppContent,
    #helpModal,
    #vehicleInfoModal{
        display: none;
    }
}
@media only screen and (max-height: 730px) {
    .phone_sizeWrapper{
        display: flex!important;
        width: 100vw;
        height: 100vh;
        background: $primaryColor;
        justify-content: center;
        align-items: flex-start;
        
        .phone_message{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2, p{
                width: 85%;
                margin: 10px auto;
            }
            h2{
                color: $secondaryColor;
                font-size: $h2FontSize;
                font-weight: $boldFontWeight;
            }
            p{
                color: white;
                margin-bottom: 100px;
            }
        }
        
    }

    #landingPage,
    #mainAppContent,
    #helpModal,
    #vehicleInfoModal{
        display: none;
    }
}